<div class="media-gallery flex--column-to-row" data-action="mediaGallery">
	
	{{#each thumbnails}}
		<div class="media-gallery__thumbnail container container--dark">
			<!--<a class="article-tab" data-id="{{id}}" href="{{href}}"><img src="{{img}}" alt="{{alt}}"></a>-->
			<a class="article-tab" data-file="{{file}}" href="{{href}}"><img src="{{img}}" alt="{{alt}}"></a>
			<div class="media-gallery__borders">
				<blockquote>
					<p>{{quote}}</p>
					<footer><img src="{{logo}}" alt="{{logoAlt}}"></footer>
				</blockquote>
			</div>
		</div>
	{{/each}}

</div>
